# будет игнорироваться каталог tmp
/tmp/
# файлы, заканчивающиеся суффиксами _old
*.*_old
# файлы, заканчивающиеся суффиксами _backup
*.*_backup
# будет проигнорирован файлы Thumbs.db
Thumbs.db
# будет проигнорирован файл .DS_Store
.DS_Store
